html,
body {
    height: 100%;
}

.container-fluid .row .col-4 {
    margin: 0;
    padding: 0;
}

.sidebar-area {
    /* background-color: rgb(120, 120, 245);*/
    background-image: linear-gradient(to right, #1781ba, #195fa9);
    color: #fff;
    opacity: 0.7;
}

.sidebar-area .photo {
    padding: 0;
}

.sidebar-area .photo img {
    width: 60%;
    position: relative;
    left: -10px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.sidebar-area .photo p {
    color: #e3e3e3ba;
    font-size: 20px;
}

.sidebar-area .user-infos .text {
    border-top: 3px solid rgb(14, 117, 228);
}

.sidebar-area .user-infos .icon,
.sidebar-area .user-infos .text {
    margin: 0;
    padding: 0;
}

.sidebar-area .user-infos .icon p,
.sidebar-area .user-infos .text p {
    margin: 0;
    padding: 1rem 0;
    font-size: 17px;
}

.sidebar-area .user-infos .text p .muted {
    opacity: 0.5;
}

.sidebar-area .user-infos .skills p {
    padding-bottom: 0;
}

.sidebar-area .user-infos .skills p>span {
    font-size: 25px;
}

.sidebar-area .user-infos .skills p span.muted {
    font-size: 17px;
}

.site-main {
    background-color: #e3e3e3;
    height: 100%;
    min-height: 100%;
}

.site-main .mycard {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    color: rgb(89, 88, 88);
}

.site-main .mycard .card-img {
    vertical-align: bottom;
}

.site-main .mycard .card-title {
    display: inline-block;
    vertical-align: bottom;
}

.site-main .mycard .card-text .card-title {
    margin-bottom: .6rem;
}

.site-main .mycard .card-text .exp-content h5,
.site-main .mycard .card-text .exp-content p {
    margin-bottom: .1rem;
}

.site-main .mycard .card-text .exp-content .exp-date {
    color: rgb(22, 116, 199);
}

.site-main .mycard .card-text .exp-content hr {
    height: 3px;
}

.progress-div {
    margin: 0; padding: 0;
}

.progress-div .progress {
    height: 10px;
}

.progress-div .progress .progress-bar-striped{
    width: 75%;
}
