@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    color: #1c1e21;
}


/************************** NAVBAR ****************************/

header,
.navbar {
    background-color: #3B5998;
    padding: 0px;
}

.navbar .navbar-brand img {
    width: 170px;
    height: 33px;
}

.navbar form {
    font-size: 12px;
}

.navbar .form-group {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 0 5px 0;
    margin-right: 20px;
}

.navbar label {
    color: #FFFFFF;
    display: block;
    padding: 0;
    margin-top: .7rem;
    margin-bottom: .2rem;
}

.navbar #passwordHelpBlock a {
    font-size: 12px;
    color: #9cb4d8;
}

.navbar .btn-connect {
    background-color: rgb(66, 103, 178);
    border-color: #29487d;
    color: white;
    font-weight: bold;
    line-height: 18px;
    font-size: 12px;
    padding: 2px 6px;
    text-align: center;
}


/************************** SECTION ****************************/

section {
    background: linear-gradient(white, #D3D8E8);
    height: 100%;
}

#left-section {
    margin-top: 40px;
}

#left-section h3 {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    width: 450px;
    word-spacing: -1px;
}

#left-section img {
    height: 195px;
    width: 537px;
}

#right-section {
    padding-top: 20px;
}

#right-section .decor-1 {
    color: #1d2129;
    font-size: 19px;
}

#right-section .form-group {
    margin-bottom: 10px;
}

#right-section h3 {
    font-size: 36px;
    color: #333;
    font-weight: 600;
}

#right-section select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
    width: 80px;
}

.details {
    margin: 0px;
    padding: 0px;
}

#right-section .details p {
    color: #777;
    font-size: 11px;
}

.fsize-18 {
    font-size: 18px;
}

.form-label-1 {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.form-check-label {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

.btn-inscription {
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    background: linear-gradient(#67ae55, #578843);
    background-color: rgba(0, 0, 0, 0);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}

#creer-page-text {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}

#creer-page-text a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}


/************************** FOOTER ****************************/

footer {
    color: #737373;
    font-size: 12px;
}

.hr-footer-separator {
    border-top: 1px solid #dddfe2;
    margin: 8px 0;
    width: 100%;
    height: 8px;
}

#langues {
    padding-top: 8px;
}

#langues>ul {
    display: flex;
    padding-top: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-left: 0px;
}

#langues>ul li:first {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}

#langues>ul li {
    padding-right: 10px;
    border-width: 0 0 0 1px;
    display: inline-block;
}

#liens-fb>ul:first {
    border-width: 0;
}

#liens-fb>ul {
    line-height: 1.6;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#liens-fb>ul li {
    padding-right: 20px;
    padding-left: 0px;
    vertical-align: top;
    display: inline-block;
}

#liens-fb>ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: #385898;
    cursor: pointer;
}

footer .copyright {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}