@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    background-color: white;
}

#min-100 {
    min-height: 100%;
    height: 100%;
}

#fill {
    height: 100%;
}

#left-bloc {
    background-color: rgb(113, 201, 248);
}

#svg-div {
    overflow: hidden;
}

#svg-img {
    fill: rgb(29, 161, 242);
    overflow: hidden;
    top: -30vh;
    right: -50vh;
    width: 160vh;
    position: absolute;
}

#interets {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 180px;
}

#interets .row {
    padding-top: 35px;
}

.primary-color1 {
    color: rgb(29, 161, 242);
}

.primary-color1:hover {
    color: rgb(29, 161, 242);
}


/*--------------------- RIGHT BLOC ---------------------*/

#right-bloc {
    background-color: white;
}

#right-bloc {
    padding-top: 15px;
}

#right-bloc #passwordHelpBlock {
    color: rgb(113, 201, 248);
}

#right-bloc .head-title {
    font-weight: bold;
    padding-bottom: 30px;
}

#right-bloc .desc-text {
    font-weight: bold;
}

.join-btn1 {
    border-radius: 9999px;
    background-color: rgb(29, 161, 242);
    border-width: 1px;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.join-btn2 {
    border-radius: 9999px;
    background-color: white;
    border: 1px solid rgb(29, 161, 242);
    color: rgb(29, 161, 242);
    font-weight: bold;
    font-size: 15px;
}

#right-bloc .join-btn1:hover,
#right-bloc .join-btn2:hover {
    opacity: 0.7;
}


/*--------------------- FOOTER ---------------------*/

footer {
    background-color: white;
    padding-top: 10px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding-right: 10px;
}

footer ul li a {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: rgb(101, 119, 134);
}

footer ul li a:hover {
    color: rgb(101, 119, 134);
}

.modal-lg {
    max-width: 36% !important;
}

#login-form .form-group input,
.modal-body #dateNaiss select {
    background-color: rgb(245, 248, 250);
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-width: 2px;
    border-bottom-color: #949494;
    border-radius: 2px;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    color: rgb(101, 119, 134);
    height: 60px;
}

.modal-body #dateNaiss select {
    width: 100%;
}

.modal-content {
    border-radius: 20px;
    font-size: 15px;
}

.modal-body h4 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px;
}

.modal-body a {
    font-size: 15px;
    color: rgb(29, 161, 242);
}

.modal-body a:hover {
    color: rgb(29, 161, 242);
}

.modal-body #dateNaiss {
    padding-bottom: 130px;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}