/* @font-face */

@font-face {
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Bold.ttf';
}

@font-face {
    font-family: "Baloo_Tamma_2";
    src: '../fonts/Baloo_Tamma_2/BalooTamma2-Regular.ttf';
}

@font-face {
    font-family: "Noto_Sans_JP";
    src: '../fonts/Noto_Sans_JP/Noto_Sans_JP-Regular.ttf';
}